<%- include('partials/header'); -%>

<header>
  <div class="smoothie">
    <img src="/Top-Secret.jpg" alt="">
  </div>
  <div class="headings">
    <h2>Secret Content</h2>
    <a href="/smoothies" class="btn">View Super Secret Content</a>
  </div>
</header>


<%- include('partials/footer'); -%>